<%- include('partials/header') -%>
    <div class="row mt-5">
      <div class="text-center">
          <div class="mt-5">
            <h2>Narcan</h2>
            <p>About : Narcan is a safe nasal spray medication designed to reverse an opioid overdose. If unable to obtain narcan at the locations specified, narcan is now also avaiable at major pharmacies. Check out where you can obtain narcan by clicking on the link for more information.</p>
            <a href="https://www.laodprevention.org/naloxone" </a>
          </div>
      </div>
    </div>
<%- include('partials/footer') -%>