<%- include('partials/header') -%>
    <div class="row mt-5">
      <div class="text-center">
          <div class="mt-5">
            <h2>SAMHSA's National Helpline</h2>
            <p>About : This helpline provides 24-hour free and confidential treatment referral and information about substance and/or mental use disorders, prevention, and recovery in English and Spanish. To be connected to the resources you need please call 1-800-662-4357 or text your zipcode to: 435748. You can also click on the link to find more information online.</p>
            <a href="https://www.samhsa.gov/find-help/national-helpline" </a>
          </div>
      </div>
    </div>
<%- include('partials/footer') -%>