<%- include('partials/header') -%>
<div class="container"
      <div class="text-center">
          <div class="mt-5">
            <h2>Resources</h2>
            <p>About : This helpline provides 24-hour free and confidential treatment referral and information about substance and/or mental use disorders, prevention, and recovery in English and Spanish. To be connected to the resources you need please call 1-800-662-4357 or text your zipcode to: 435748. You can also click on the link to find more information online.</p>
          </div>
    

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button" a href="nationalHelpline.ejs">SAMHSA's National Helpline</button></a></li>
          <li><button class="dropdown-item" type="button" a href="treatmentLocator.ejs">Substance Use Treatment Locator</a></button></li>
          <li><button class="dropdown-item" type="button" a href="syingeExchange.ejs">Syinge Exchange Programs</a></button></li>
          <li><button class="dropdown-item" type="button" a href="narcan.ejs">Narcan</a></button></li>
        </ul>
    </div>
      </div>
    </div>
<%- include('partials/footer') -%>


	
       