<%- include('partials/header') -%>
    <div class="row mt-5">
      <div class="text-center">
          <div class="mt-5">
            <h2>Syinge Exchange Programs</h2>
            <p>About : These community-based programs provide access to sterile syringes and needles, facilitate safe disposal of used syringes, and provide links to other related services. Check out where you can find the syinge exchange program near you by clicking on the link for more information.</p>
            <a href="https://www.cdph.ca.gov/Programs/CID/DOA/Pages/OA_prev_sepdirectory.aspx" </a>
          </div>
      </div>
    </div>
<%- include('partials/footer') -%>


