<%- include('partials/header') -%>
    <div class="row mt-5">
      <div class="text-center">
          <div class="mt-5">
            <h2>Substance Use Treatment Locator</h2>
            <p>About : Find a state-licensed treatment facility near you. You can specify your search by treatment type, payment options, age (youth & adult), languages spoken, and special programs (veterans, LGBTQ, and services for the deaf). Check out where you can find a substance treatment location that would work best for you by clicking on the link for more information.</p>
            <a href="https://findtreatment.gov/" </a>
          </div>
      </div>
    </div>
<%- include('partials/footer') -%>