<%- include('partials/header') -%>
<div class = "container">
    <div class="text-center">
  
        <h3>Add Journal Entry</h3>
        <div class="row">
            <form action="/journals" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field">
                        <input type="text" id="title" name="title">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <h5>How Are You Today:</h5>
                        <textarea id="body" name="body"></textarea>
                    </div>
                </div>
                <div class="mb-3">
              </div>
        
                <div class="row">
                    <input type="submit" value="Save" class="btn">
                    <a href="/profile" class="btn orange">Cancel</a>
                </div>
            </form>
        </div>
<%- include('partials/footer') -%>

