<%- include('partials/index') -%>

<main class="container">
    <div class= "d-grid gap-2 col-6 mx-auto">
        <a href="/login"  class="btn btn-dark" > Login</a>
        <a href="/signup" class="btn btn-dark"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') %>