<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">

    <header class="container">
        <div 
        class = "back-img"
        style = "background-image: url('/img/stones.jpg');"
        >
      <div class="text-center">
          <h2>Check In</h2>
          <div>
              <p><strong>Hello</strong>: <%= user.userName %></p>
          </div>
          <div >
            <strong>Days</strong>: <%= user.soberSince %>
          </div>
          <div class="mt-5"> 
            
            <form action="/profile/resetDate" method="POST">
                <button type="submit" class="btn btn-dark" value="reset">Reset</button>
            </form>
            <form action="/profile/createDate" method="POST">
                <button type="submit" class="btn btn-dark" value="add">New Day</button>
            </form>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">“The man who moves a mountain begins by carrying away small stones.” – Confucius.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include('partials/footer') -%>