<%- include('partials/header') -%>
<main>
  <div class="px-4 my-4 text-center">
    <h1 class="display-4 fw-bold">Resources</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Each person's path to recovery is a personal one. These local resources in the Los Angeles area resources are meant to connect you to support no matter where you are in your journey. Recovery is about progression not perfection. 
        </p>
      </div>
      <div class="overflow-hidden" style="max-height: 80vh;">
        <div class="container px-5">
          <img src="/img/peaks.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="" width="800" height="1000" loading="lazy"  >
        </div>
      </div>
      <span class="lead mb-4"> “Man never made any material as resilient as the human spirit.” – Bernard Williams </span>
  </div>
  <div class="container py-4">
    <div class="row align-items-md-stretch">
      <div class="col-md-6 resources">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>SAMHSA's National Helpline:</h3>
          <p>This helpline provides 24-hour free and confidential treatment referral and information about substance and/or mental use disorders, prevention, and recovery in English and Spanish. To be connected to the resources please call 1-800-662-4357 or text your zipcode to: 435748. You can click on the link to find more information</p><br>
          <a class="btn btn-dark btn-sm" href="https://www.samhsa.gov/find-help/national-helpline">More information</a>
        </div>
      </div>
      <div class="col-md-6 resources">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Substance Use Treatment Locator:</h3>
          <p>Find a state-licensed treatment facility near you. You can specify your search by treatment type, payment options, age (youth & adult), languages spoken, and special programs (veterans, LGBTQ, and services for the deaf). Check out where you can find a substance treatment location that would work best for you</p><br>
          <a class="btn btn-dark btn-sm" href="https://findtreatment.gov/">Find Treatment</a> 
        </div>
      </div>
      <div class="col-md-6 resources">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Syringe Exchange Programs:</h3>
          <p>These community-based programs provide access to sterile syringes and needles, facilitate safe disposal of used syringes, and provide links to other related services. Check out where you can find the syinge exchange program near you by clicking on the link for more information</p><br>
          <a class="btn btn-dark btn-sm" href="https://www.cdph.ca.gov/Programs/CID/DOA/Pages/OA_prev_sepdirectory.aspx">Syringe Services Programs</a>
        </div>
      </div>
      <div class="col-md-6 resources">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Narcan:</h3>
          <p>Narcan is a safe nasal spray medication designed to reverse an opioid overdose. If unable to obtain narcan at the locations specified, narcan is now also avaiable at major pharmacies. Check out where you can obtain narcan at no cost by clicking on the link for more information</p><br>
          <a class="btn btn-dark btn-sm" href="https://www.laodprevention.org/naloxone">Naloxone Access Points</a> 
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>


	
       