<%- include('partials/header') -%>
    <div class = "container">
      <div class="text-center">
          <div class="mt-5">
            <h1>Resources</h1>
            <p>Local resources in the Los Angeles area </p>
          </div>
    
      <div class= "row justify-content-center" >
          <div class="col-sm-6 p-4">
            <h3>SAMHSA's National Helpline:</h3>
              <p>This helpline provides 24-hour free and confidential treatment referral and information about substance and/or mental use disorders, prevention, and recovery in English and Spanish. To be connected to the resources you need please call 1-800-662-4357 or text your zipcode to: 435748. You can click on the link to find more information 
                <a class="btn btn-dark btn-sm" href="https://www.samhsa.gov/find-help/national-helpline">More information</a>
              </p>
          </div>
          <div class="col-sm-6 p-4">
            <h3>Substance Use Treatment Locator:</h3>
              <p>Find a state-licensed treatment facility near you. You can specify your search by treatment type, payment options, age (youth & adult), languages spoken, and special programs (veterans, LGBTQ, and services for the deaf). Check out where you can find a substance treatment location that would work best for you by clicking on the link for more information
                <a class="btn btn-dark btn-sm" href="https://findtreatment.gov/">Find Treatment</a>
              </p> 
          </div>
          <div class="col-sm-6 p-4">
            <h3>Syinge Exchange Programs:</h3>
                <p>These community-based programs provide access to sterile syringes and needles, facilitate safe disposal of used syringes, and provide links to other related services. Check out where you can find the syinge exchange program near you by clicking on the link for more information
                <a class="btn btn-dark btn-sm" href="https://www.cdph.ca.gov/Programs/CID/DOA/Pages/OA_prev_sepdirectory.aspx">Syringe Services Programs</a>
                </p>
          </div>
          <div class="col-sm-6 p-4">
              <h3> Narcan:</h3>
                <p>Narcan is a safe nasal spray medication designed to reverse an opioid overdose. If unable to obtain narcan at the locations specified, narcan is now also avaiable at major pharmacies. Check out where you can obtain narcan by clicking on the link for more information <br>
                <a class="btn btn-dark btn-sm" href="https://www.laodprevention.org/naloxone">Naloxone Access Points</a>
                </p>
          </div>
      </div>
  </div>
</div>
<%- include('partials/footer') -%>


	
       